doctype html
html(lang='zh-CN')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title Azzip admin
    link(href='assets/css/common.css?ver=1.01', type='text/css', rel='stylesheet')
    link(href='assets/css/font.css?ver=1.01', type='text/css', rel='stylesheet')
    link(href='assets/css/top.css?ver=1.01', type='text/css', rel='stylesheet')
    //if lt IE 8
      script(type='text/javascript', src='assets/js/font.js')
      script(defer='', type='text/javascript', src='assets/js/pngfix.js')
    script(type='text/javascript', src='assets/js/jquery.js')
    script(type='text/javascript', src='assets/js/jquery/calendar.js')
    script(type='text/javascript', src='assets/js/jquery/tools.js')
    script(type='text/javascript', src='assets/js/top.js')
  body
    .pz-dock
      dl#pz-dock-item
        dd
          a.link-on(href='index.html')
            i.icon-home.big-icon
        dd
          a(href='javascript:;')
            i.icon-gift.big-icon
            br
            | &#21830;&#21697;
        dd
          a(href='javascript:;')
            i.icon-list-alt.big-icon
            br
            | &#35746;&#21333;
        dd
          a(href='javascript:;')
            i.icon-user.big-icon
            br
            | &#20250;&#21592;
        dd
          a(href='javascript:;')
            i.icon-wrench.big-icon
            br
            | &#31995;&#32479;&#35774;&#32622;
      .pz-dock-footer-space &NonBreakingSpace;
      .pz-fix-bottom.pz-dock-footer
        a(href='login.html')
          i.icon-off.big-icon
          br
          | &#36864;&#20986;
    #pz-side.pz-side
      .pz-logo
        | Te
        font(color='red') s
        | t admin
        // Az<font color="red">z</font>ip Shop
      .pz-side-package.clearfix
        .pz-menu.clearfix
          a(href='javascript:;')
            | Azzip UI
            i.icon &#61559;
          ul
            li
              a.link-on(target='frame', href='layout.html') &#20840;&#23616;&#26679;&#24335;&#21644;&#24067;&#23616;
            li
              a(target='frame', href='basic.html') &#22522;&#30784;css
            li
              a(target='frame', href='com.html') css&#32452;&#20214;
            li
              a(target='frame', href='js.html') js&#25554;&#20214;
            li
              a(href='login.html') &#20856;&#22411;&#39029;&#38754;&colon;&#30331;&#24405;
            li
              a(target='frame', href='list.html') &#20856;&#22411;&#39029;&#38754;&colon;&#21015;&#34920;
            li
              a(target='frame', href='edit.html') &#20856;&#22411;&#39029;&#38754;&colon;&#26032;&#24314;&sol;&#32534;&#36753;
            li
              a(target='frame', href='editor.html') &#20856;&#22411;&#39029;&#38754;&colon;&#32534;&#36753;&#22120;
            li
              a(target='frame', href='chart.html') &#20856;&#22411;&#39029;&#38754;&colon;&#25253;&#34920;
            li
              a(target='frame', href='map.html') &#20856;&#22411;&#39029;&#38754;&colon;&#22320;&#22270;
      .pz-side-package.clearfix(style='display:none')
        .pz-menu.clearfix
          a(href='javascript:;')
            | Azzip UI
            i.icon &#61559;
          ul
            li
              a.link-on(target='frame', href='layout.html') &#20840;&#23616;&#26679;&#24335;&#21644;&#24067;&#23616;
            li
              a(target='frame', href='basic.html') &#22522;&#30784;css
            li
              a(target='frame', href='com.html') css&#32452;&#20214;
            li
              a(target='frame', href='js.html') js&#25554;&#20214;
            li
              a(href='login.html') &#20856;&#22411;&#39029;&#38754;&colon;&#30331;&#24405;
            li
              a(target='frame', href='list.html') &#20856;&#22411;&#39029;&#38754;&colon;&#21015;&#34920;
            li
              a(target='frame', href='edit.html') &#20856;&#22411;&#39029;&#38754;&colon;&#26032;&#24314;&sol;&#32534;&#36753;
            li
              a(target='frame', href='chart.html') &#20856;&#22411;&#39029;&#38754;&colon;&#25253;&#34920;
            li
              a(target='frame', href='map.html') &#20856;&#22411;&#39029;&#38754;&colon;&#22320;&#22270;
      .pz-side-package.clearfix(style='display:none')
        .pz-menu.clearfix
          a(href='javascript:;')
            | Azzip UI
            i.icon &#61559;
          ul
            li
              a.link-on(target='frame', href='layout.html') &#20840;&#23616;&#26679;&#24335;&#21644;&#24067;&#23616;
            li
              a(target='frame', href='basic.html') &#22522;&#30784;css
            li
              a(target='frame', href='com.html') css&#32452;&#20214;
            li
              a(target='frame', href='js.html') js&#25554;&#20214;
            li
              a(href='login.html') &#20856;&#22411;&#39029;&#38754;&colon;&#30331;&#24405;
            li
              a(target='frame', href='list.html') &#20856;&#22411;&#39029;&#38754;&colon;&#21015;&#34920;
            li
              a(target='frame', href='edit.html') &#20856;&#22411;&#39029;&#38754;&colon;&#26032;&#24314;&sol;&#32534;&#36753;
            li
              a(target='frame', href='chart.html') &#20856;&#22411;&#39029;&#38754;&colon;&#25253;&#34920;
            li
              a(target='frame', href='map.html') &#20856;&#22411;&#39029;&#38754;&colon;&#22320;&#22270;
    .pz-main
      iframe#frame(name='frame', frameborder='0', src='layout.html')
